@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div,
h1,
h2,
span {
  color: #efefef;
}
li {
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url("./img/jeremy-perkins-FsK54FVNRfM-unsplash.jpg");
  background-size: cover;
}

.side-bar {
  flex-basis: 20vw;
  padding: 20px 20px;
  background-color: #22222275;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
  padding-left: 10px;
  user-select: none;
}

.default-lists {
  margin-top: 50px;
}

.user-lists {
  margin-bottom: auto;
  margin-top: 25px;
  overflow-y: auto;
}

.side-bar li,
.new-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  border-left: 4px solid #35353500;
  padding-left: 8px;
  font-size: 1.3rem;
  border-radius: 5px;
}

.side-bar li:hover,
li.active {
  background-color: #353535;
  border-left: 4px solid #c1d1e0;
  cursor: pointer;
}
.new-list:hover {
  background-color: #353535;
  box-shadow: 0 0 0 1px #c1d1e0;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon img {
  width: 24px;
  margin: auto;
  filter: brightness(0) saturate(100%) invert(84%) sepia(7%) saturate(547%) hue-rotate(167deg) brightness(100%) contrast(88%);
}

h3,
.due-date,
.task-list-name {
  color: #b2b2b2;
}

.main {
  flex-basis: 80vw;
  margin: 3px;
  border-radius: 10px;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: #c1d1e043;
  border: 2px solid #c1d1e0;
  color: #c1d1e0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.header button:active {
  background-color: #c1d1e000;
}

.tasks {
  margin-bottom: auto;
  margin-top: 10px;
  overflow: auto;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10vw 5px 0;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: rgba(41, 42, 42, 0.5);
}

.task-details {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 2;
}
.check-box {
  width: 30px;
  padding: 3px;
  margin: 0;
  grid-row: 1/3;
  grid-column: 1/2;
  box-sizing: content-box;
}

.check-box:hover,
.remove:hover {
  background-color: #353535;
  border-radius: 50px;
  cursor: pointer;
}

.remove {
  box-sizing: content-box;
  width: 25px;
  padding: 5px;
}

.task-name {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1.1rem;
  cursor: pointer;
}

.task-name.done {
  text-decoration: line-through;
}

.task-list-name {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 0.9rem;
}

.more-details {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 0.9rem;
  color: #b2b2b2;
  display: none;
}

.more-details.expanded {
  display: block;
}

.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #c1d1e0;
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.add-btn:hover {
  box-shadow: 2px 2px 5px 0 #c1d1e0;
}
.add-btn:active {
  box-shadow: none;
}

.add-btn span {
  color: #353535;
  font-weight: bold;
  font-size: 1.2rem;
}

.add-btn img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(5104%) hue-rotate(315deg) brightness(95%) contrast(73%);
}

/* Pop up form styles */

.add-task-dlg {
  position: fixed;
  background-color: #35353570;
  height: 100vw;
  width: 100vw;
  display: none;
}

#form-container {
  position: fixed;
  background-color: #222222ea;
  width: 50vw;
  min-height: 50vh;
  top: 15vh;
  left: 25vw;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  width: 80%;
  max-width: 100%;
  max-height: 25vh;
  resize: both;
}
label {
  display: block;
}

#taskPriority ~ label {
  display: inline;
}
input[type="radio"] {
  margin: 0 10px 0 2px;
}
#taskName,
textarea {
  border-radius: 5px;
  padding: 3px;
  width: 80%;
  font-size: 1.1rem;
}

.field {
  padding: 5px 0;
}

.add-task-dlg button {
  padding: 10px 5px;
  width: 50%;
  border-radius: 5px;
}

